# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
android/.gradle
android/app/build
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
*.exe
*.dll
*.pdb

# Others
*.iml
